@import "tailwindcss";

.home {
  text-align: center;
  padding: 18rem 1rem;
  background: linear-gradient(180deg, #4718ab, #1a1a1a);
}
.home h1 {
  font-size: 3rem;
  color: #f7f6f9; 
  margin-bottom: 10px;
}

.home h1 {
  position: absolute;          
  top: 100px;                  
  left: 10px;                 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f8fcfa;       
  margin: 0;
}

.home p {
  color: #ccc;
  font-size: 1.2rem;
  margin: 1rem auto;
  max-width: 600px;
}

.home l {
  color: #eef3f0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;          
  top:170px;                  
  left: 15px;
}

.home button {
  margin-top: 1.5rem;
  background-color: #16a34a;
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.perfil {
  text-align: center;
  padding: 4rem 1rem;
}

.perfil img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #16a34a;
}

.perfil h2 {
  color: #16a34a;
  margin-top: 1rem;
}

.equipes {
  text-align: center;
  padding: 4rem 1rem;
}

.equipes h2 {
  color: #16a34a;
  margin-bottom: 2rem;
}

.equipes-lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.equipe-card {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
}

.equipe-card:hover {
  box-shadow: 0 0 15px #16a34a;
}

.equipe-card h3 {
  color: #facc15;
}

.sobre {
  text-align: center;
  padding: 4rem 1rem;
  background-color: #0f0f0f;
}

.sobre h2 {
  color: #16a34a;
}

.sobre p {
  color: #ccc;
  max-width: 700px;
  margin: 1rem auto;
  line-height: 1.6;
}.sobre {
  text-align: center;
  padding: 4rem 1rem;
  background-color: #0f0f0f;
}

.sobre h2 {
  color: #16a34a;
}

.sobre p {
  color: #ccc;
  max-width: 700px;
  margin: 1rem auto;
  line-height: 1.6;
}

.contato {
  color: aqua;
}